            _   _   _____  _____  ____   _       ______ 
     /\    | \ | | / ____||_   _||  _ \ | |     |  ____|
    /  \   |  \| || (___    | |  | |_) || |     | |__   
   / /\ \  | . ` | \___ \   | |  |  _ < | |     |  __|  
  / ____ \ | |\  | ____) | _| |_ | |_) || |____ | |____ 
 /_/    \_\|_| \_||_____/ |_____||____/ |______||______|




{% for item in motd_info %}
{% for key, value in item.items() %}
{{ key  }}{{ value  }}
{% endfor %}
{% endfor %}
